.cuadrado{
    height: 80px;
    padding:20px;
    background-color: #FF5F00;
    color: #00092C;
    
    }
    
    .cuadrado h1{
        font-size: 45px;
        line-height: 1px;
        border-radius: 4px;
        font-family: 'calibri';
        margin-top: 2%;
        margin-left: 1%;
    }
    
    
    .imagen-login{
       position: absolute;
       top: 3%;
       margin-left: 90%;
    }
   

    .img-mascota{
        position: absolute;
    top: 170px; left: 600px;
    }
    body {
        background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-pared-pintada-blanco_53876-138197.jpg?w=2000);
      }
    .Listado-de-Mascotas h1 {
        padding: 5px;
        width: 400px;
        margin-left: 4%;
        position: absolute;
        top: 300px;
        border-radius: 9px;
        text-align: center;
        background: #FF5F00;
        color: #00092C;
        font-size: 40px;
        font-family: Impact;
    }
   
   
    
    h1{
        flex: align center; 
    }
    
    table{
        margin-top: 250px;
        caption-side: bottom;
        margin-left: 4%;
        margin-right: auto;
        border-collapse: collapse;
    }
  


    th{
        background-color: #00092C;
        color: #FF5F00;
    }
    
    caption{
        padding-top: 20px;
        font-style: italic;
    }
    
    td,th{
        font-family: italic;
        font-size: 35px;
        border: 2px solid black;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        
      
    

    .botons{
        cursor: pointer;
    }
    .botons:hover{
        background-color: rgb(51, 197, 255);
        transform: scale(1.03);    
    }
    
    .Pie-de-Pagina{
        margin-top: 420px;
        padding: 2px;
        width: 100%;
        text-align: center;
        background: #00092C;
        margin-bottom: 0px;
        color: white;
        font-size: 18px;
        border-radius: 6px;
        font-family: Sans-serif;
    
    }