@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="Titulo"><strong>CUIDEMOS
    LO QUE NOS UNE</strong></h3>
    <p class="Titulo">  No te preocupes por los gastos medicos de tus mascotas, con nosotros estan seguras.<br>
        Asegura su salud y bienestar, durante todo un año, de manera rápida, segura, sin papeleos y 100% online.
    </P>
        
</div>

<div class="MapaG" width="500" >
    <p>
    <h4 class="MapaGL"><strong>Nuevo Centro de Atencion</strong></h4>
    <p>Cuenta con un equipo de veterinarios <br>
       que se encargan de realizar visitas a domicilio<br>
       durante las cuales se revisan las mascotas y se dan recomendaciones<br>
       para prevenir enfermedades, mejorar la calidad de vida de los peludos<br>
       o en caso de ser necesario (si la mascota se encuentra enferma) <br>
       se realiza el diagnóstico y se formulan medicamentos.
    </p>
   <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7953.534622768996!2d-74.07719368942801!3d4.6355531973538655!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9aa2e7a8132528c!2sMascota%20Feliz%20Petshop!5e0!3m2!1ses-419!2sco!4v1664481577880!5m2!1ses-419!2sco" width="400" height="250" style="border:6;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
   
   <iframe class="VideoY" width="450" height="255" src="https://www.youtube.com/embed/MK2iY0D1JNg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
</div>

