@page
@model MascotaFeliz.App.Pages.EditarVeterinariosModel
@{
}
<h2>Agregar o editar Veterinarios</h2>
<div class="prueba4">
<form method="post" >
    <div class="form-group">
        <input type="hidden" asp-for = "veterinario.Id" />
        
        <label asp-for="veterinario.Nombres"></label>
        <input asp-for="veterinario.Nombres" class="form-control" required>
        <label asp-for="veterinario.Apellidos"></label>
        <input asp-for="veterinario.Apellidos" class="form-control" required>
        <label asp-for="veterinario.Direccion"></label>
        <input asp-for="veterinario.Direccion" class="form-control" required>
        <label asp-for="veterinario.Telefono"></label>
        <input asp-for="veterinario.Telefono" class="form-control" required>
        <label asp-for="veterinario.TarjetaProfesional"></label>
        <input asp-for="veterinario.TarjetaProfesional" class="form-control" required>
        <br>
        <button type="submit" class="btn btn-primary">Grabar</button>
    </div>
</form>
</div>
<div class="prueba2">
<a asp-page="./ListaVeterinarios" class="btn-default">Lista de ListaVeterinarios </a>
</div>